name: CI
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: '10'
    - run: |
        cd apiMicMac/
        npm install
  test:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: '10'
    - name: Check node and npm versions
      run: |
          cd apiMicMac/
          node -v
          npm -v
    - name: Install dependencies
      run: npm install
    - name: Run tests
      run: npm test